<% layout('layouts/boilerplate') -%>

<body>
    <div class="top">
        <div class="navbar-nav search-box ms-auto">
            <form id="searchForm" class="d-flex" role="search" action="/search" method="GET">
                <input id="searchInput" class="form-control me-2 search-box" type="search" placeholder="Search">
                <button id="searchButton" class="btn btn-search" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>Search
                </button>
            </form>
        </div>        
        <div class="tax-switch">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onchange="toggleTaxes()">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 mt-3 home">
        <% for(let list of allListings){ %>
            <a class= "show-link" href="/listings/<%= list._id %>">
                <div class="card col">
                    <img src="<%= list.image.url %>" class="card-img-top index-image" alt="listings image">
                    <!-- <div class="card-img-overlay"><i class="fa-regular fa-heart"></i></div> -->
                    <div class="card-body">
                        <p class="card-text">
                            <%= list.title %> <br>
                            <b><%= list.location %>, <%= list.country %></b> <br>
                            <b class="price" data-original-price="<%= list.price %>">&#x20B9; <%= list.price.toLocaleString("en-IN") %></b>/night                       
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
<script>
    function toggleTaxes() {
        var priceElements = document.getElementsByClassName("price");
        var taxRate = 1.18;

        for (var i = 0; i < priceElements.length; i++) {
            var priceElement = priceElements[i];
            var originalPrice = parseFloat(priceElement.getAttribute("data-original-price"));
            var newPrice = originalPrice;

            if (document.getElementById("flexSwitchCheckDefault").checked) {
                newPrice *= taxRate;
            }         
            priceElement.innerHTML = '&#x20B9; ' + newPrice.toLocaleString("en-IN") ;
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById('searchForm');
        const searchInput = document.getElementById('searchInput');

        form.addEventListener("submit", async function(event) {
            event.preventDefault(); // Prevent default form submission
            
            const searchTerm = searchInput.value.trim();
            
            try {
                // Send search query to server
                const response = await fetch(`/search?q=${encodeURIComponent(searchTerm)}`);
                const data = await response.json();
                // console.log("hello");
                // window.location.href = `/search-results?q=${encodeURIComponent(searchTerm)}`;
                // Do something with the search results
                // console.log("Search results:", data);
            } catch (error) {
                console.error("Error:", error);
            }
        });
    });

</script>